@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn.ttf') format('truetype');
}
:root {
    --tblr-font-sans-serif: "Vazirmatn";
}


.ts-control {
    min-height: calc(1.4285714em + 0.875rem + 2px);
    border: 1px solid var(--tblr-border-color);
    border-radius: var(--tblr-border-radius);
    background: var(--tblr-bg-surface);
    box-shadow: none;
    padding: .4375rem .75rem;
}

.ts-control.focus {
    border-color: var(--tblr-primary);
    box-shadow: 0 0 0 .25rem rgba(var(--tblr-primary-rgb), .25);
}

.ts-dropdown {
    border: 1px solid var(--tblr-border-color);
    border-radius: var(--tblr-border-radius);
    box-shadow: var(--tblr-shadow-lg);
}

.ts-dropdown .option.active {
    background-color: var(--tblr-primary-lt);
}

.ts-control input {
    font-size: inherit;
}