<h2 class="content-block">ستاسې د غوښتنې د پروسس پر مهال د سرور له لوري تېروتنه رامنځته شوه.</h2>

<div class="content-block dx-card responsive-paddings">
    د تېروتنې د تفصیلي معلوماتو د ښودلو لپاره د <strong>ASPNETCORE_ENVIRONMENT</strong> چاپېریالي متغیر ارزښت <strong>Development</strong> ته وټاکئ او اپلېکېشن بیا چالان کړئ.
    <br /><br />
    <strong>د خپاره شوي اپلېکېشن لپاره باید Development چاپېریال فعال نه وي</strong> ځکه کاروونکو ته د داسې استثناوو لاسرسی ورکوي چې حساس معلومات لرلای شي.
</div>
